includes:
    - phpstan-baseline.neon
parameters:
    level: 5
    checkMissingIterableValueType: false
    checkExplicitMixedMissingReturn: false
    checkFunctionNameCase: true
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src
    excludes_analyse:
        - src/Test/
    ignoreErrors:
        - '#Function __LOG_MESSAGE.* not found\.#'
        - '#PHPDoc tag .* has invalid value.*#'
